<!DOCTYPE html>
<html>
<head>
    <title>Cyber Attack Map</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>

<h2>Live Cyber Attack Map</h2>
<div id="map"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="/js/map.js"></script>

</body>
</html>
